.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.folder_list {  
  grid-column: 2 span;
  background-color: #F6F8FC;
  height: 100vh;
}

.table {
  grid-column: 9 span;
  padding: 0 20px;
}