* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  user-select: none;
}

:root {
  --text-color: #202124;
  --background-color: #fff;
}